<!-- A harmless test package for the Windows end-to-end test: installs one text file. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="OCSS Test Package" Manufacturer="Office Security Tests" Version="1.0.0"
           UpgradeCode="6B0B2E55-0E5B-4B7A-9E0E-2D1F7C6A9B31" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="OCSS Test Package">
        <Component>
          <File Source="ocss-test-readme.txt" />
        </Component>
      </Directory>
    </StandardDirectory>
  </Package>
</Wix>
